# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
BUILD
.mbed
mbed-os
iotkit
HTS221
LIS3MDL
lsm6dsl
vl6180x
vl53l0x
bmp180
apds-9960
HTS221/ST_INTERFACES
HTS221/X_NUCLEO_COMMON
LIS3MDL/ST_INTERFACES
LIS3MDL/X_NUCLEO_COMMON
vl53l0x/ST_INTERFACES
vl53l0x/X_NUCLEO_COMMON
lsm6dsl/ST_INTERFACES
lsm6dsl/X_NUCLEO_COMMON
